<h2> User Info </h2>
Username: <%= @user.username %> <br>
BIO: <%= @user.bio %><br>
Total Tweet: <%= @user.total_tweet %><br>
Total Following: <%= @user.total_following %><br>
Total Follower: <%= @user.total_follower %><br>
<% if @user == current_user %>
  <%= link_to "Edit", edit_user_path(@user) %><br>
<% end %>

<h2>User's Tweet</h2>
<ul>
  <% @tweets.each do |tweet| %>
    <li>
    <%= tweet.content %><br>
    <small><%= tweet.created_at %></small><br>
  <% end %>
</ul>
